# High Level Basket API Allowed Origins
# This needs to be a valid URL of the product selector where the basket will sit.
HIGHLEVELBASKETAPIALLOWREDORIGINS=

# The name of the page that existing Taopix product URL's should be redirected to
# in order for them to utilise High Level Basket API e.g hlcreate.html
HIGHLEVELBASKETAPIREDIRECTPAGE=

# Default License Key Code
# This needs to be set to a valid license key code that exists in Taopix Control Centre
DEFAULTLICENSEKEYCODE=

# Redirection URL
# This needs to be set to 
REDIRECTIONURL= This needs to be a valid URL of the product selector where the basket will sit.

# Number of days before a basket cookie expires
BASKETCOOKIEEXPIRYDAYS=60

# The minimum life of the project in days
MINLIFE=0

# The URL that can be used to invoke a back / abandon option within the Online Designer
ABANDONURL=

# The name of the button associated with the abandon URL 
ABANDONNAME=

# Specifies if the user can sign-out within the Online Designer
CANSIGNIN=1

# Specifies if the user can sign-out within the Online Designer
CANSIGNOUT=1

# Specifies if clicking the browser back button within the Online
DISABLEBACKBUTTON=0
